absl-py==2.3.1
annotated-types==0.7.0
bert-score==0.3.13
blis==0.7.11
catalogue==2.0.10
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
cloudpathlib==0.23.0
confection==0.1.5
conllu==6.0.0
contourpy==1.3.2
cycler==0.12.1
cymem==2.0.13
dnspython==2.8.0
en_core_sci_md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_md-0.5.1.tar.gz#sha256=4485c7c3f2522eccf53e44069223d1162258de48fbad457419b38808b3a0ed20
en_core_sci_sm @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_sm-0.5.1.tar.gz#sha256=8588289f761488021e096e8a7ebbdad52acc0e74685e602c5d0d0b7a5fa546a3
en_ner_bc5cdr_md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_ner_bc5cdr_md-0.5.1.tar.gz#sha256=7852184affa649bcc1417d11fb1075b99f483e1f8329d91ca296de8020a46a31
faiss-cpu==1.7.4
filelock==3.20.0
fonttools==4.61.1
fsspec==2025.10.0
hf-xet==1.2.0
huggingface-hub==0.36.0
idna==3.11
Jinja2==3.1.6
joblib==1.5.2
kiwisolver==1.4.9
langcodes==3.5.0
language_data==1.3.0
marisa-trie==1.3.1
MarkupSafe==3.0.3
matplotlib==3.10.8
mpmath==1.3.0
murmurhash==1.0.15
neo4j==6.0.3
networkx==3.4.2
nltk==3.9.2
nmslib-metabrainz==2.1.3
numpy==1.26.4
packaging==25.0
pandas==2.3.3
pathlib_abc==0.1.1
pathy==0.11.0
pillow==12.0.0
preshed==3.0.12
psutil==7.1.3
pybind11==3.0.1
pydantic==1.10.24
pydantic_core==2.41.5
pymongo==4.15.4
pyparsing==3.3.1
pysbd==0.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
regex==2025.11.3
requests==2.32.5
rouge_score==0.1.2
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.15.3
scispacy==0.6.2
sentence-transformers==5.1.2
six==1.17.0
smart-open==6.4.0
spacy==3.4.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.2
sympy==1.14.0
thinc==8.1.12
threadpoolctl==3.6.0
tokenizers==0.22.1
torch==2.9.1
tqdm==4.67.1
transformers==4.57.1
typer==0.7.0
typer-slim==0.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.5.0
wasabi==0.10.1
weasel==0.4.3
